<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
  <div class="container">
    <a class="navbar-brand" href="#">Welcome to Gram's Gym</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li>
          <img src="../../assets/images/gymlogo.jpg" height="60px" width="70px">
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <h2 style="text-align:center"> ABOUT US</h2>
  <p>
    GRAM's represents an ideal blend of a wide range of fitness activities with the ambiance of an upscale club.
    The Club offers activities for all members of the family, from small children to seniors.
    GRAM's feels proud to be a place where families and friends spend precious time together in a truly electrifying environment.
  </p>
</div>

