<div style="float:left; padding:100px">
  <div style="height:80%; width:100%;border:solid;color:black; float:right">
    <img src="../../assets/images/manager.jpg" width="100px" height="200px" />
    <br /><a routerLink="/managerlogin">  MANAGER LOGIN </a>
  </div>
  </div>
  <div style="float:left; padding:100px">
  <div style="height:80%; width:100%;border:solid;color:black;float:right">
    <img src="../../assets/images/member.jpg" width="100px" height="200px" />
    <br /><a routerLink="/memberlogin">  MEMBER LOGIN </a>
  </div>
  </div>
  <div style="float:left; padding:100px">
  <div style="height:80%; width:100%;border:solid;color:black;float:right">
    <img src="../../assets/images/gymlogo.jpg" width="100px" height="200px" />
    <br /><a routerLink="/trainerlogin">  TRAINER LOGIN </a>
  </div>
  </div>

