<br/><br/>
     <div class="container p-3 my-3 border ">

       <b> <label>Name: </label></b> {{member?.name}} <br /><br />

       <b><label>Email: </label></b> {{member?.email}} <br /><br />

       <b> <label>ContactNo: </label></b> {{member?.contactno}} <br /><br />

       <b> <label>Age: </label></b> {{member?.age}} <br /><br />

       <b><label>Address: </label></b> {{member?.address}} <br /><br />

       <b> <label>Height: </label></b> {{member?.height}} <br /><br />

       <b><label>Weight: </label></b> {{member?.weight}}

       <hr />
       <button (click)="goback()">Back</button>
     </div>



