<br/><br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Members</h1>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Member Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let member of data">
                    <td>{{member.trainername}}</td>
                    <td><button (click)="memberDetails(member.email)">Details</button></td>
                   
                </tr>
            </tbody>
        </table>
        <button (click)="goback()">Back</button>
    </div>
</div>
